.NavigationItem{
    margin:10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    align-items: center;
}

.NavigationItem a{
    color: rgb(151, 90, 49);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{   
    color: rgb(104, 182, 192);
}

@media(min-width:500px){
    .NavigationItem{
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a{
        color: wheat;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 5px solid transparent;
        
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{   
        background-color: rgb(87, 34, 34);
        border-bottom: 5px solid rgb(60, 126, 82);
        color: wheat;

}
}